$width-iphone: 529px;




@media screen and (max-width: 1159px){
  section{
    margin:auto;
    display:inline-flex;
  }

  .intro-cover{
    box-sizing: border-box;
    .triangle-floating{
    }

    .triangle-floating-1{
      zoom : 200%;
    }

    .triangle-floating-2{
      zoom : 160%;
    }

    .triangle-floating-3{
      zoom : 120%;
    }

    .triangle-floating-4{
      zoom : 200%;
    }

    .triangle-floating-5{
      zoom : 290%;
    }

    .triangle-floating-6{
      zoom : 320%;
    }

    .triangle-floating-7{
      zoom : 290%;
    }
    .triangle-floating-8{
      zoom : 530%;
    }

  }

  .section-intro, .section-art {
    box-sizing: border-box;
    .intro-art{
      box-sizing: border-box;
      .triangle-small:nth-of-type(1){
        display:none;
      }
      .triangle-small:nth-of-type(2){
        display:none;
      }
      .triangle-small:nth-of-type(6){
      }

      .triangle-small:nth-of-type(7){
      }

      .triangle-small:nth-of-type(8){
        display:none;
      }
      .triangle-small:nth-of-type(12){
        display:none;
      }
    }

    .content-container {

      .content-1 {
        .nav-bar {
        }
        .nav-bar.open {
        }
      }
      .content-2 {

        .intro-header {
          width: 100%;

          img {
            height:90%;
            width:auto;
          }
        }
      }

      .content-3{
        min-height:200px;
        max-height:200px;
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
        margin-bottom:-100px;
        .content-description{

          min-height:30px;
          max-height:30px;
          margin:auto;
          width:100%;
          flex-direction:column;
          justify-content:center;
          text-align:center;
          span{
            font-size:19px;
            width:100%;
          }
        }
        .content-buttons{
          display:inline-flex;
          margin:auto;
          flex-direction:column;
          justify-content:center;
          width:90%;
          height:60%;
          flex-wrap:wrap;

          .buttons-wrapper{
            height:100%;
            width:55%;
            margin:auto;
            display:inline-flex;
            justify-content:space-evenly;
            flex-direction:column;
            text-align:center;
            a{
              margin:auto;
              display:inline-flex;
              margin-top:10px;
              height:100%;
              width:100%;
              justify-content:center;
              text-align:center;
              flex-direction:column;
              span{
                font-size:16px;
              }
            }
          }


        }
      }

    }
  }

  .section-brief {
    .brief-wrapper{
      .brief-content {
        width: 100%;

        .content-wrapper{
        }

        .content-wrapper--border {
        }
      }
    }

    .companies-wrapper{
      width:100%;

      div{
      }

      .datalyse{
      }

      .soyfisticated{
      }
    }

  }

  .section-about {
    box-sizing: border-box;
    .about-header{
      width:100%;
    }

    .about-header:after{
      display:none;

    }

    .about-wrapper{
      width:100%;
      .about-text{
        width:80%;
      }

      .about-img{

        svg{
        }

        .img-screen{
        }

        .about-img--reverse{
        }

        .about-text--reverse{
        }
      }
    }
  }

  .section-form{
    .form-container{
      width:90%;
      form{
        width:100%;
        .formgroup{

        }
      }
    }
  }
  .section-contact{
    .contact-container{
      width:100%;
      .contact-wrap{
        width:100%;
        .social-wrap{
          width:100%;

          span{
            margin:0 1%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 941px) {
  .section-about {
    height:1700px;
    box-sizing: border-box;
    padding-bottom:32px;
    .about-header{
      width:100%;
      text-decoration:underline;
      box-sizing: border-box;
      padding-bottom:0;
    }

    .about-header:after{
      display:none;

    }

    .about-wrapper{
      width:100%;
      margin: auto;
      padding:0;
      flex-flow: column wrap;
      flex-wrap:wrap;
      box-sizing: border-box;
      .about-text{
        width:80%;
        margin:auto;

        order: 1;
      }

      .about-img{
        display:inline-flex;
        margin:auto;
        text-align:center;

        min-width:500px;
        max-width:500px;

        order: 2;

        svg{
          margin:auto;
          display:block;
        }

        .img-screen{
          top:6.5%;
          height:188px;
          left:20.4%;
          right:20.4%;

        }

        .about-img--reverse{
          order: 2;
        }

        .about-text--reverse{
          order: 1;
        }
      }
    }
  }//RETURN ABOUT SECTION TO MOBILE VERSION
}


@media screen and (max-width: 650px) {
  .section-intro, .section-art {
    box-sizing: border-box;

    .content-container {

      .content-1 {
        .nav-bar {
        }
        .nav-bar.open {
        }
      }
      .content-2 {

        .intro-header {
          width: 100%;
          justify-content:center;

          margin-top:30px;

          img {
            max-width:500px;
            min-width:500px;
            min-height: 215.833px;
            max-height: 215.833px;
          }
        }
      }

    }
  }
  .section-form{
    height:1070px;
    .form-container{
      flex-flow:column nowrap;
      .form-illustration{

        flex:.2;
        text-align:center !important;
        .form-wrap{
          text-align:center;
          padding:0;
          margin:auto;
        }
        .form-wrap:first-child{
          font-size:42px;
        }

        .form-wrap:last-child{
          font-size:15px;
        }
      }
    }
  }

}

@media screen and (max-width: $width-iphone) {

  section{
    margin:auto;
    display:inline-flex;
  }

  .intro-cover{
    box-sizing: border-box;
    .triangle-floating{
    }

    .triangle-floating-1{
      zoom : 200%;
    }

    .triangle-floating-2{
      zoom : 160%;
    }

    .triangle-floating-3{
      zoom : 120%;
    }

    .triangle-floating-4{
      zoom : 200%;
    }

    .triangle-floating-5{
      zoom : 290%;
    }

    .triangle-floating-6{
      zoom : 320%;
    }

    .triangle-floating-7{
      zoom : 290%;
    }
    .triangle-floating-8{
      zoom : 530%;
    }

  }

  .section-intro, .section-art {
    box-sizing: border-box;
    .intro-art{
      box-sizing: border-box;
      .triangle-small:nth-of-type(1){
        display:none;
      }
      .triangle-small:nth-of-type(2){
        display:none;
      }
      .triangle-small:nth-of-type(6){
      }

      .triangle-small:nth-of-type(7){
      }

      .triangle-small:nth-of-type(8){
        display:none;
      }
      .triangle-small:nth-of-type(12){
        display:none;
      }
    }

    .content-container {

      .content-1 {
        .nav-bar {
        }
        .nav-bar.open {
        }
      }
      .content-2 {
        flex:8;
        justify-content:center;

        .intro-header {
          width: 100%;
          justify-content:center;

          margin-top:30px;

          img {
            min-width:300px;
            max-width:300px;
            min-height: 129.5px;
            max-height: 129.5px;
          }
        }
      }

      .content-3{
        min-height:200px;
        max-height:200px;
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
        margin-bottom:-100px;
        .content-description{

          min-height:30px;
          max-height:30px;
          margin:auto;
          width:100%;
          flex-direction:column;
          justify-content:center;
          text-align:center;
          span{
            font-size:19px;
            width:100%;
          }
        }
        .content-buttons{
          display:inline-flex;
          margin:auto;
          flex-direction:column;
          justify-content:center;
          width:90%;
          height:60%;
          flex-wrap:wrap;

          .buttons-wrapper{
            height:100%;
            width:55%;
            margin:auto;
            display:inline-flex;
            justify-content:space-evenly;
            flex-direction:column;
            text-align:center;
            a{
              margin:auto;
              display:inline-flex;
              margin-top:10px;
              height:100%;
              width:100%;
              justify-content:center;
              text-align:center;
              flex-direction:column;
              span{
                font-size:16px;
              }
            }
          }


        }
      }

    }
  }

  .section-brief {
    box-sizing: border-box;
    height:1300px;
    .brief-wrapper{

      padding: 0 32px;
      box-sizing: border-box;
      .brief-content {
        box-sizing: border-box;
        height:100%;
        width: 100%;
        flex-wrap:wrap;
        flex-flow:column wrap;
        margin: 32px 0;

        .content-wrapper{
          box-sizing: border-box;
          padding:28px 32px;
        }

        .content-wrapper--border {
          border-radius: 0;
          border-left: none;
          border-right: none;
          border-top: solid 1px #ffffff;
          border-bottom: solid 1px #ffffff;
        }
      }
    }

    .companies-wrapper{
      margin-top:-24px;
      width:100%;
      flex-wrap:wrap;
      flex-flow:column wrap;
      justify-content:center;
      align-items:center;
      box-sizing: border-box;

      div{
        flex-basis:25%;
        margin:auto;
        display:inline-flex;
        box-sizing: border-box;
        width:50% !important;
      }

      .datalyse{
        padding:6px;
      }

      .soyfisticated{
        padding:0;
      }
    }

  }

  .section-about {
    height:2000px;
    box-sizing: border-box;
    padding-bottom:32px;
    .about-header{
      width:100%;
      text-decoration:underline;
      box-sizing: border-box;
      padding-bottom:0;
    }

    .about-header:after{
      display:none;

    }

    .about-wrapper{
      width:100%;
      margin: auto;
      padding:0;
      flex-flow: column wrap;
      flex-wrap:wrap;
      box-sizing: border-box;
      .about-text{
        width:80%;
        margin:auto;

        order: 1;
      }

      .about-img{
        display:inline-flex;
        margin:auto;
        text-align:center;

        min-width:350px;
        max-width:350px;

        order: 2;

        svg{
          margin:auto;
          display:block;
        }

        .img-screen{
          top:18%;
          height:166px;
          left:13%;
          right:13%;

        }

        .about-img--reverse{
          order: 2;
        }

        .about-text--reverse{
          order: 1;
        }
      }
    }
  }

  .section-contact{
    .contact-container{
      width:100%;
      .contact-wrap{
        width:100%;
        .social-wrap{
          width:100%;

          span{
            margin:0 1%;
          }
        }
      }
    }
  }

}

@media screen and (max-height: 520px) and (orientation : landscape){
  .section-intro{
    height:175vh;
  }
}

@media screen and (max-width: 506px){
  .nav-bar{
    height:100vh;
    width:50vw;
    transition:right .5s cubic-bezier(.49,.48,.41,.86);
    right:-71vw;
      .nav-list{
        flex-direction: column;
        margin-top:10vh;
        a{
          box-sizing: border-box;
          min-height:100px;
          max-height:100px;
        }
      }
  }

  .nav-bar.open{
    right:0;
  }
}